.tree {
  margin:0 1em 1em 1em;
  li {
    line-height: 1;
    position: relative;
    padding: 0 0 1em 1em;
  }
  > li {
    &::before {
      display: none;
    }
  }
  ul {
    li {
      padding: 1em 0 0 1em;
    }
  }
}

li {
  --text-color: #000;
  --tooltipDisplay: none;
  &:not(.open) ul {
    display: none;
  }
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.55em;
    display: block;
    width: 0;
    border-left: 1px solid #777;
    content: "";
  }

  .package-item {
    position: relative;
    display: flex;
    width: fit-content;
    color: var(--text-color);
    cursor: pointer;
    &::before {
      background: var(--text-color);
      color: #fff;
      position: relative;
      z-index: 1;
      float: left;
      margin: 0 1em 0 -2em;
      width: 1em;
      height: 1em;
      border-radius: 1em;
      content: "+";
      text-align: center;
      line-height: 1em;
    }
    &::after {
      position: absolute;
      top: 0;
      left: -1.5em;
      display: block;
      height: 0.5em;
      width: 1em;
      border-bottom: 1px solid #777;
      border-left: 1px solid #777;
      border-radius: 0 0 0 0.3em;
      border-bottom: 0;
      content: "";
    }
    &:hover > .info {
      --tooltipDisplay: block;
    }
    .name {
      size: 45;
    }
    .info {
      display: var(--tooltipDisplay);
      position: relative;
      z-index: 1;
      margin-left: 5px;
      width: 15px;
      height: 15px;
      cursor: pointer;

      .icon {
        width: 100%;
        height: 100%;
        &::before {
          border: solid 1px #6c93f1;
          border-radius: 50%;
          content: "!";
          font-size: 10px;
          width: 100%;
          height: 100%;
          display: grid;
          text-align: center;
          align-items: end;
          color: #6c93f1;
          transform: rotate(180deg);
        }
      }
      .tooltip {
        position: absolute;
        bottom: 15px;
        width: 180px;
        transform: translateX(-50%);
        left: 50%;
        cursor: default;
      }
    }
  }
  &.empty {
    --text-color: #777;
    &:last-child {
      &::before {
        bottom: 0.7em;
      }
    }
    > .package-item {
      cursor: default;
      &::before {
        display: none;
      }
      &::after {
        border-right: 0;
        border-radius: 0 0 0 0.3em;
        border-bottom: solid 1px #777;
        border-top: 0;
        bottom: 0.5em;
        top: auto;
        height: 1em;
        left: -1.55em;
      }
    }
  }
  &.error {
    --text-color: red;
    .package-item {
      &::before {
        content: "!";
      }
    }
  }
  &.loading {
    --text-color: #b4b4b4;
    > .package-item {
      cursor: default;
    }
  }
  &.completed {
    &.open {
      > .package-item {
        &::before {
          content: "–";
        }
      }
      &:not(.empty) {
        > .package-item {
          &::after {
            border-radius: 0 0.3em 0 0;
            border-top: 1px solid #777;
            border-right: 1px solid #777;
            border-bottom: 0;
            border-left: 0;
            bottom: 0;
            top: 0.5em;
            height: auto;
          }
        }
      }
    }
  }
}

.spinner {
  display: block;
  width: 30px;
  height: 30px;
  margin: 100px;
}
